* {
    margin: 0;
    padding: 0;
}

@media screen and(max-width:390px) {
    .toggle-ku {
        display: none;
    }
    .logo-ku {
        font-size: 0.75rem;
    }
    .jumbo-text h1 {
        font-size: 1rem !important;
    }
    .jumbo-text p {
        font-size: 1rem !important;
    }
}

.logo-ku {
    font-size: 5rem;
}

.margin-wel-ku {
    margin: 5rem 0;
}

.height-1 {
    height: 40rem;
}

.height-2 {
    height: 25rem;
}

.bg-dashboard {
    /* background-image: linear-gradient(120deg, #1d3557, #8ecae6); */
}

.text-a-dashboard {
    color: black;
    font-weight: 900;
    letter-spacing: 5px;
    text-decoration: none !important;
}

.vh-100 {
    height: 100vh;
}

.sh-dashboard-user {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.jumbo-text {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    padding: 1.25rem;
    border-radius: 20px;
}

.jumbo-text h1 {
    font-size: 6rem;
}

.jumbo-text p {
    font-size: 3rem;
}

.shad-me {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    padding: 1.25rem;
}

.width-100 {
    width: 100%;
}

.item-welcome {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 10px;
}

.border-radius-30 {
    border-radius: 30px;
}

.border-radius-15 {
    border-radius: 15px;
}