* {
    margin: 0;
    padding: 0;
}

@media only screen and(max-width:390px) {
    .toggle-ku {
        display: none;
    }
    .logo-ku {
        font-size: 1rem;
    }
}

.logo-ku {
    font-size: 5rem;
}

.margin-wel-ku {
    margin: 5rem 0;
}

.height-1 {
    height: 40rem;
}

.height-2 {
    height: 25rem;
}

.bg-dashboard {
    /* background-image: linear-gradient(120deg, #1d3557, #8ecae6); */
}

.text-a-dashboard {
    color: black;
    font-weight: 900;
    letter-spacing: 5px;
    text-decoration: none !important;
}

.vh-100 {
    height: 100vh;
}